@import url("https://cdn.jsdelivr.net/npm/bootstrap-icons@1.9.1/font/bootstrap-icons.css");
@import url('https://fonts.googleapis.com/css2?family=Lato:wght@300&family=Poppins:wght@500&display=swap');

body{
    background-color: #13589D;
}

h1, h2, h3, h4{
    font-family: 'Poppins', sans-serif;
    text-align: center;
    margin-top: 2rem;
}

h2{
    font-size: 4rem;
    font-weight: 500;
}
/* A partir de aquí pavlitoh */
.container {
    max-width: 1170px;
    margin-left: auto;
    margin-right: auto;
    padding: 1.5em;
}


ul {
    list-style: none;
    padding: 0;
}

.logo {
    text-align: center;
    font-size: 3em;
}

.logo span {
    color: #FFFFFF ;
}


.contact-wrapper {
    box-shadow: 0 0 20px 0 rgba(255, 255, 255, .3);
}

.contact-wrapper > * {
    padding: 1em;
}

.contact-form {
    background: #FFFFFF ;
    color: #13589D;
}

.contact-form form {
    display: grid;
    grid-template-columns: 1fr 1fr;
}


.contact-form form label {
    display: block;
}

.contact-form form p {
    margin: 0;
    padding: 1em;
}

.contact-form form .block {
    grid-column: 1 / 3;
}

.contact-form form button,
.contact-form form input,
.contact-form form textarea {
    width: 100%;
    padding: .7em;
    border: none;
    background: none;
    outline: 0;
    color: b;
    border-bottom: 1px solid #13589D;
}


.contact-form form button {
    background: #13589D;
    border: 0;
    text-transform: uppercase;
    padding: 1em;
}

.contact-form form button:hover,
.contact-form form button:focus {
    background: #13589D ;
    color: #fff;
    transition: background-color 1s ease-out;
    outline: 0;
}

/* CONTACT INFO */
.contact-info {
    background: #C3C3D1 ;
    color: #13589D ;
}


.contact-info h4, .contact-info ul, .contact-info p {
    text-align: center;
    margin: 0 0 1rem 0;
}



/* LARGE SIZE */
@media(min-width: 700px) {
    body {
        
    }
    .contact-wrapper {
        display: grid;
        grid-template-columns: 2fr 1fr;
    }
    .contact-wrapper > * {
        padding: 2em;
    }
    .contact-info h4,
    .contact-info ul,
    .contact-info p {
        text-align: left;
    }
}
/* A partir de aquí pavlitoh */

p {
    font-family: 'Lato', sans-serif;
    font-size: 1rem;
    text-align: justify;
}

.card{
    margin-left: 2rem;
}

a:link{
    color: #13589D;
}

.iconos a:link i, .iconos a:visited i{
    font-size: 2rem;
    color: #13589D;
    padding: .4rem;
}

.iconos a:hover i, .iconos a:active i{
    color: #C3C3D1;
}

a:hover, a:active, a.active{
    color: #13589D !important;
}

/* COLORES */
.bg-AzulW {
    background-color: #13589D;
    color: white;
}

.txt-AzulW{
    color: #13589D;
}

.bg-Blanco{
    background-color: white;
    color: #13589D;
}

.bg-BlancoN{
    background-color: white;
    color: black;
}

.txt-Negro{
    color: black;
}

.txt-Blanco{
    color: white;
}

.bg-Naranjillo{
    background-color: #FDBB30;
    color: white;
}

.txt-Naranjillo{
    color: #FDBB30;
}

.bg-Gris{
    background-color: #C3C3D1;
    color: white;
}

.txt-Gris{
    color:#C3C3D1
}

.bg-Red{
    background-color: #df0927;
    color: white;
}

.FooterColor{
    background-color:rgb(13, 61, 110);
}